<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的打印</title>
    <link rel="stylesheet" href="{{$static}}css/user_form.css"/>
    <link rel="stylesheet" href="{{$static}}css/publicStyle.css"/>
    <script type="text/javascript" src="{{$static}}js/lib/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{{$static}}js/lib/handlebars.js"></script>
</head>
<body>
<include file="./header" />
<div class="user_form my_print">
    <ul class="form_tab">
        <li><a href="<php>echo U('user_info');</php>">用户信息</a></li>
        <li><a href="<php>echo U('create_print');</php>">新建打印</a></li>
        <li><a href="<php>echo U('history_order');</php>">我的打印</a>&emsp;<span>{{$length}}</span></li>
    </ul>
    <div class="color_bar">
        <div class="red_bar history_slide_bar"></div>
    </div>
    <div class="classify_section">
        <div class="column_first">打印任务</div>
        <div class="column_second">份数</div>
        <div class="column_third">打印设置</div>
        <div class="column_fourth">总价（元）</div>
        <div class="column_fifth">取地点</div>
    </div>

    <div class="order_list">
    	<volist name="data" id="da">
    	<volist name="da" id="vo">
        <div class="single_mission">
    			<in name="i" value="1">
            <div class="order_header">
                &nbsp;
                <span class="order_date">下单时间:<span>{{$vo.time}}</span></span>&emsp;
                <span class="order_number">订单号:<span>{{$vo.rcode}}</span></span>
            </div>
        	</in>
        
            <div class="single_order">
                <div class="mission_detail history_first">
                    <div class="mission_intro">
                        <div class="mission_thumbnail">
                            <img src="{{$static}}img/user_print/my_print_3.png" alt="缩略图"/>
                        </div>
                        <div class="mission_name">
                            <span>{{$vo.file_name}}</span><br/>
                            <span>{{$vo.paper_size}}&emsp;
                            	    <if condition="$vo.is_double eq 2">双面<else />单面</if>&emsp;
                            	    <if condition="$vo.paper_color eq 0">黑白<else />彩印</if>
                            </span>
                        </div>

                        <a href="javascript:;" class="mission_delete">删除</a>
                    </div>
                </div>
                <div class="single_mission_num history_second">
                    1
                </div>
                <div class="single_state history_third">
                    <div class="state_text">打印店已接单，正在打印请稍后...</div>
                </div>
                <div class="single_mission_price history_fourth">0</div>
                <div class="single_mission_location history_fifth">
                    {{$vo.address}}
                </div>
            </div>
        </div>
      </volist>
      </volist>

    </div>
</div>
<include file="./footer" />
<script type="text/javascript" src="{{$static}}js/publicScript.js"></script>
<script type="text/javascript" src="{{$static}}js/history.js"></script>
</body>
</html>