<!DOCTYPE HTML>
<html>
 <head>
	<title>{{$title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{{$www}}assets/css/dpl-min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{$www}}assets/css/main-min.css">
	<link rel="stylesheet" type="text/css" href="{{$www}}Public/Css/taoyy.css">
 </head>

 <body class="error_body">
	<div class="main">
		<div class="header"><span>{{$title}}</span></div>
		<div class="content">
			<p class="error_info">{{$content}}</p>
			<p><a href="{{$jmp}}">返回上页</a></p>
		</div>
	</div>
 </body>