<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>验证成功</title>
    <link rel="stylesheet" href="../css/login.css"/>
    <link rel="stylesheet" href="../css/common_style.css"/>
    <link rel="stylesheet" href="../css/publicStyle.css"/>
    <script src="../js/lib/jquery-1.11.1.js"></script>
</head>
<body>
<div class="full_screen">
    <div class="out_frame certificate_frame">
        <div class="frame_title">
            <span>恭喜</span>
        </div>
        <div class="certificate_img">
            <img src="../img/login/certificate_success.png"/>
        </div>
        <div class="cetificate_text">
            &nbsp;您已成功验证手机号“_______________”<br/><br/><span>“5s”</span>后返回淘印印主界面
        </div>
        <div class="certificate_return">
            <input type="button" class="certificate_return_button" value="返回主页"/>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/publicScript.js"></script>
</body>
</html>