<header class="navi_main">
    <div class="taoyinyin_logo">
        <a href="javascript:;">
            <img src="{{$static}}/img/public_img/logo.png"/>
        </a>
    </div>
    <div class="navi_button">
        <div class="navi_log_in">
            <input type="button" class="login_button" onclick="location.href='<php>echo U('/Home/Sign/login'); </php>';" />
        </div>
        <div class="navi_sign_up">
            <input type="button" class="sign_up_button" onclick="location.href='<php>echo U('/Home/Sign/register'); </php>';" />
        </div>
    </div>
</header>