<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>招聘信息</title>
    <script type="text/javascript" src="../js/lib/jquery-1.11.1.js"></script>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .recruit_text{
            width: 60%;
            height: auto;
            margin: 20px auto;
            font:16px 'microsoft yahei';
            color: #333;
        }
        .recruit_bg{
            width: 100%;
            height: 200px;
            background: url("../img/index/cloud_bg.png");
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<div class="recruit_bg"></div>
<div class="recruit_text">
    <h1>淘印印团队招聘</h1>
    保研了，找到工作了，这个时候是不是人生就圆满了？
    睡觉睡到死，打游戏打到吐，每天不是美团就是飞饭，找个妹子享受午后的阳光，优哉游哉的打算过完大学
    的日子。这些真的是想要的吗？
    给你个机会愿意在大学毕业之前最后的努力一把博一次吗？
    雁过留名，后悔大学里没做过一件牛逼的事，要来试一次吗？

    西电创业团队招人：我们只谈梦想，不谈钱！
    两个奇葩创始人：
    话说他俩有天去参加京东的笔试，在路上两人对说是这样的：
    A:找不到工作怎么办？
    B：要不自己干吧!
    A：行吗？
    B：可以啊，现在大环境那么好，这是顺势而为的事情。赌一把！
    A：好！

    然后，老校区的操场旁边，人家在笔试，他俩进行了第一次关于创业的对话！
    一个靠谱的项目：可落地、易执行、020大方向。
    在线打印系统：构建用户与打印店之间的桥梁，提供在线打印服务以及实时反馈系统，节省用户时间成本和
    资金成本，提供自费、免费两种打印模式，满足不同形态用户需求。同时，网站提供在线文库，做精细化的
    内容运营，吸引精细化的用户，以小博大！

    我们需要什么样的人：

    产品经理：
    找到产品经理的岗位就是产品经理了吗？想做产品经理，看几本书就够了吗？
    来，我们给你一个真正的项目，体验产品从策划到运营的全过程。
    有经验的求带我装逼带我飞，没经验的咱们一起装逼一起飞！

    产品前端：
    网站做出来给大家展现的是什么样子就看你的了！

    UI设计：
    网站丑不丑还是你说的算！网站的海报，宣传单全靠你了~
    我们长得怎么样，丑不丑，你来决定吧！

    网站后台开发：
    网站各种功能的实现靠你们了，技术改变生活~

    网站运营：
    网站线上线下的宣传，各种帐号运营，内容运营，网站出来有没人用就看你的贡献了

    市场合作：
    你们的任务就是靠强大的业务能力，找到更多的合作商家，去争取到更多的广告业主，做市场还是需要几把
    刷子的，造点钱团队才能走下去啊！

    我们希望你来，但是我们更想要这样的你：
    希望你对自己负责，如果只是抱着玩玩的态度，那么…….
    希望你有时间，希望你真的愿意做这个项目
    希望你想清楚，希望你靠谱！

    你能获得什么：
    项目经验、实践经验、一定的团队报酬

    报名方式：
    邮箱：lvkuiyuan@taoyinyin.com
    我们会尽快与你联系，组织面试！
</div>
<script>
    var box=$('.recruit_text');
    box.html(box.html().replace(/\n/g,'<br/>'))
    console.log(box.html())
</script>
</body>
</html>