<!DOCTYPE html>
<html>

<include file="default/header" />

<body>
<form id="form1" action="index.html" method="post" class="definewidth m20" >
<table class="table table-bordered table-hover definewidth m10">
        <tr>
          <td width="10%" class="tableleft">管理员账号</td>
          <td><input type="text" name="account" value="{{$admin.name}}" /></td>
        </tr>
         <tr>
          <td width="10%" class="tableleft">密码</td>
          <td><input type="password" name="ad_password" placeholder="不修改则不需要填写" /></td>
        </tr>
        <tr>
          <td width="10%" class="tableleft">上次登录时间</td>
          <td>{{$admin.lasttime}}</td>
        </tr>
        <tr>
          <td width="10%" class="tableleft">上次登录IP</td>
          <td>{{$admin.lastip}}</td>
        </tr>
        <tr>
          <td class="tableleft">状态</td>
          <td><input type="radio" name="status" value="1" checked/>
            启用
            <input type="radio" name="status" value="0"/>
            禁用 </td>
        </tr>
        <tr>
          <td class="tableleft">权限</td>
          <td><ul>
              <li>
              <label class='checkbox inline'>
                  <input type='checkbox' name='user[]' value='' />
                  用户管理</label>
              <ul>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='user[]' value='9' />
                      用户列表</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='user[]' value='10' />
                      用户添加</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='user[]' value='11' />
                      用户编辑</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='user[]' value='12' />
                      用户删除</label>
                </li>
                </ul>
            </li>
              <li>
              <label class='checkbox inline'>
                  <input type='checkbox' name='merchant[]' value='' />
                  商户管理</label>
              <ul>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='merchant[]' value='13' />
                      商户列表</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='merchant[]' value='14' />
                      商户新增</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='merchant[]' value='15' />
                      商户编辑</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='merchant[]' value='16' />
                      商户删除</label>
                </li>
                </ul>
            </li>
              <li>
              <label class='checkbox inline'>
                  <input type='checkbox' name='order[]' value='' />
                  订单管理</label>
              <ul>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='order[]' value='5' />
                      订单列表列表</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='order[]' value='6' />
                      订单添加</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='order[]' value='7' />
                      订单编辑</label>
                </li>
                  <li>
                  <label class='checkbox inline'>
                      <input type='checkbox' name='order[]' value='8' />
                      订单删除</label>
                </li>
                </ul>
            </li>
            </ul></td>
        </tr>
        <tr>
          <td class="tableleft"></td>
          <td><button type="submit" class="btn btn-primary">保存</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            <button type="button" class="btn btn-danger" name="delete" id="delete">删除</button></td>
        </tr>
      </table>
</form>
</body>
</html>
<script>
    $(function () {
        $(':checkbox[name="user[]"],:checkbox[name="merchant[]"],:checkbox[name="order[]"]').click(function () {
            $(':checkbox', $(this).closest('li')).prop('checked', this.checked);
        });

		$('#backid').click(function(){
				location.href='{{$default_page}}';
		 });
	
		$('#delete').click(function(){
			if(confirm("确定要删除吗？")){
				$("#form1").attr("action","");
				$("#form1").submit();
				var url = "index.html";	
				window.location.href=url;	
			}
		});
    });
</script>